@tailwind base;
@tailwind components;
@tailwind utilities;

.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "sidebar sidebar navbar navbar navbar navbar navbar navbar navbar navbar navbar"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main"
    "sidebar sidebar main main main main main main main main main";
}

.sidebar { grid-area: sidebar; }

.navbar { grid-area: navbar; }

.main { grid-area: main; }
